* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "PT Root UI Web";
  src: url(fonts/pt-root-ui_medium.woff);
}
body {
  font-family: "PT Root UI Web", sans-serif;
  overflow-x: hidden;
}
@media screen and (min-width: 1300px) {
  body {
    overflow: hidden;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
  grid-template-columns: 65% 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1360px;
  width: 100%;
  min-height: 100vh;
  padding: 0.5em 0.2em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 22px;
  padding-bottom: 2em;
}
@media screen and (max-width: 1280px) {
  .container {
    -ms-grid-columns: 55% 40%;
    grid-template-columns: 55% 40%;
  }
}
@media screen and (max-width: 1170px) {
  .container {
    -ms-grid-columns: 57% 43%;
    grid-template-columns: 57% 43%;
  }
}
@media screen and (max-width: 1060px) {
  .container {
    -ms-grid-columns: 46% 54%;
    grid-template-columns: 46% 54%;
  }
}
@media screen and (max-width: 880px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 880px) {
  .albums-title {
    display: none;
  }
}

.header {
  margin-bottom: 1em;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  .header__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 880px) {
  .header__navigation {
    margin-bottom: 3em;
  }
}
@media screen and (max-width: 520px) {
  .header__navigation {
    margin-left: 4em;
    margin-bottom: -2em;
  }
}
@media screen and (max-width: 380px) {
  .header__navigation {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-left: 7em;
  }
}
@media screen and (max-width: 360px) {
  .header__navigation {
    margin-bottom: -6em;
  }
}
.header__navigation-search {
  max-width: 19.5em;
  width: 100%;
}
.header__navigation-logo {
  max-width: 8.3em;
}

#albumList {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10.5em, 12em));
  -ms-grid-rows: 1fr 2em 1fr 2em 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-column-gap: 1.5em;
     -moz-column-gap: 1.5em;
          column-gap: 1.5em;
  row-gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 920px) {
  #albumList {
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(17%, 17%));
    -webkit-column-gap: 0.5em;
       -moz-column-gap: 0.5em;
            column-gap: 0.5em;
    row-gap: 0.5em;
  }
}
@media screen and (max-width: 880px) {
  #albumList {
    -ms-grid-columns: 35% 35% 35%;
    grid-template-columns: 35% 35% 35%;
  }
}
@media screen and (max-width: 630px) {
  #albumList {
    -ms-grid-columns: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
  }
}
@media screen and (max-width: 520px) {
  #albumList {
    width: 90%;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-left: auto;
  }
}
@media screen and (max-width: 360px) {
  #albumList {
    width: 85%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.album {
  cursor: pointer;
}
@media screen and (max-width: 830px) {
  .album {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media screen and (max-width: 520px) {
  .album {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.progress-bar {
  width: 400px;
  height: 20px;
  background-color: lightgray;
  border-radius: 10px;
  position: relative;
  margin: 20px;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: blue;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

.player-container {
  background-image: url(img/blur-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  padding-top: 1.5em;
  border-radius: 0 22px 22px 0;
  padding: 1em 1em;
}
@media screen and (max-width: 880px) {
  .player-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    height: 15em;
    overflow-y: scroll;
    overflow-x: hidden;
    background-size: auto;
    border-radius: 22px;
  }
}
@media screen and (max-width: 520px) {
  .player-container {
    width: 130%;
  }
}
@media screen and (max-width: 390px) {
  .player-container {
    width: 28em;
  }
}

@media screen and (max-width: 880px) {
  #player {
    margin-top: -3em;
    margin-left: 4em;
  }
}
@media screen and (max-width: 670px) {
  #player {
    margin-left: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

#playlist {
  position: relative;
  left: 0.7em;
  top: -2em;
}

.album-cover {
  width: 192px;
  height: 192px;
  border-radius: 12px;
}
.album-cover:hover {
  box-shadow: 3px 12px 24px -1px rgba(11, 13, 71, 0.51);
  -webkit-box-shadow: 3px 12px 24px -1px rgba(11, 13, 71, 0.51);
  -moz-box-shadow: 3px 12px 24px -1px rgba(11, 13, 71, 0.51);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #3a3a3a;
}

.album-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3a3a3a;
}

.album-title__artist {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #3a3a3a;
  opacity: 0.6;
}

#music-player {
  margin-top: 5em;
}

.playsong-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.playsong-link:hover {
  color: #3a3a3a;
}

.playsong-link:focus {
  background-repeat: no-repeat;
  background-position: left center;
}

.playsong-link:active {
  background-repeat: no-repeat;
  background-position: left center;
}

input {
  padding: 0.5em 0em 0.5em 2.5em;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 200px;
  max-width: 17em;
  width: 100%;
}

#search-button {
  position: relative;
  right: 16.5em;
  background-color: transparent;
  border: none;
  vertical-align: middle;
  cursor: pointer;
}

.profile {
  vertical-align: middle;
}
.profile-img {
  width: 2em;
  height: 2em;
  border-radius: 20%;
}

.ol-playlist {
  margin-top: 6em;
  margin-left: -1.4em;
}

ol .playsong-li::marker {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ea1313;
  opacity: 0.4;
  margin-left: 2em;
}

.playsong-artist {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
}

.playsong-li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1em 8px 14em 8px 10em 8px 2em;
  grid-template-columns: 1em 14em 10em 2em;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
  min-height: 3em;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.playsong-li:hover {
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.playsong-li:hover .playsong-link {
  color: #3a3a3a;
}

.playsong-li:hover .playsong-artist {
  color: #3a3a3a;
  opacity: 0.6;
}

.playsong-li:hover .playsong-duration {
  color: #3a3a3a;
  opacity: 0.6;
}

.playsong-duration {
  color: #ffffff;
  opacity: 0.6;
}

.waveform-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
  top: 11em;
  margin-left: auto;
  margin-right: auto;
  max-width: 37em;
  width: 100%;
}
@media screen and (max-width: 880px) {
  .waveform-container {
    top: 6em;
    left: 2em;
  }
}
@media screen and (max-width: 670px) {
  .waveform-container {
    left: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.waveform-time {
  position: relative;
  top: -3em;
  color: #ffffff;
  opacity: 0.6;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

#waveform {
  max-width: 400px;
  color: #e7bb08;
}

.album-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 400px;
  height: 4em;
}
.album-info__cover {
  margin-right: 1em;
  width: 4em;
  height: 4em;
  border-radius: 8px;
}

.album-text {
  height: 4em;
}
.album-text__song-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
.album-text__album-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.6;
}
.album-text__album-artist {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffcd06;
}

.fas {
  position: absolute;
  top: 40%;
  left: 1%;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #ffcd06;
  z-index: 10;
}

.play-button {
  display: block;
  background: transparent;
  border: none;
  z-index: 10;
}

#equalizer {
  display: none;
  position: absolute;
  top: 40%;
  left: 1%;
  width: 1em;
  height: 1em;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 1;
}

#equalizer .bar {
  width: 2px;
  height: 12px;
  margin: 0 1px;
  background-color: #ffcd06;
  -webkit-animation: equalizer 0.4s infinite;
          animation: equalizer 0.4s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#equalizer .bar:nth-child(2) {
  height: 7px;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
#equalizer .bar:nth-child(3) {
  height: 9px;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
#equalizer .bar:nth-child(3) {
  height: 3px;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

@-webkit-keyframes equalizer {
  from {
    height: 9px;
  }
  to {
    height: 18px;
  }
}

@keyframes equalizer {
  from {
    height: 9px;
  }
  to {
    height: 18px;
  }
}