* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: 'PT Root UI Web' ;
    src: url(fonts/pt-root-ui_medium.woff);
}

body{
    font-family: 'PT Root UI Web', sans-serif ;
}
.wrapper {
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    width: 100%;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.albums-container {
    background: #ffffff;
    border-radius: 22px;
    flex-basis: 75%;

    &-container-albums {
        display: grid;
    }
}

.header {
    &__navigation {
        display: flex;
        justify-content: space-between;
    }

    &__navigation-logo {
    }

    &__navigation-search {
    }
}

.album {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}
.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.progress-bar {
    width: 400px;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
    position: relative;
    margin: 20px;
}
.progress {
    height: 100%;
    width: 0%;
    background-color: blue;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

.player-container {
    background-image: url(img/blur-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
#song-title {
    color: red;
}

#playlist {
  background: red;
  height: 3em;
}
.album-cover {
    width: 192px;
    height: 192;
    border-radius: 12px;
}
h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #3a3a3a;
}
.album-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3a3a3a;
}
.album-title__artist {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #3a3a3a;
    opacity: 0.6;
}
#music-player{
    margin-top: 5em;
}