* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "PT Root UI Web";
  src: url(fonts/pt-root-ui_medium.woff);
}
body {
  font-family: "PT Root UI Web", sans-serif;
}
@media screen and (min-width: 1250px) {
  body {
    overflow: hidden;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1360px;
  width: 100%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 22px;
  padding-bottom: 2em;
}

.albums-container {
  background: #ffffff;
  border-radius: 22px;
  max-width: 60rem;
  width: 100%;
  border-radius: 22px;
}
.albums-container-container-albums {
  display: -ms-grid;
  display: grid;
}

.header {
  margin-bottom: 1em;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__navigation-search {
  max-width: 19.5em;
  width: 100%;
}

#albumList {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10.5em, 12em));
  -ms-grid-rows: 1fr 3em 1fr 3em 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
  row-gap: 3em;
}

.album {
  cursor: pointer;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.progress-bar {
  width: 400px;
  height: 20px;
  background-color: lightgray;
  border-radius: 10px;
  position: relative;
  margin: 20px;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: blue;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

.player-container {
  background-image: url(img/blur-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 55em;
  padding-top: 1.5em;
  border-radius: 0 22px 22px 0;
  max-width: 29.9em;
  width: 90%;
  padding: 1em 1em;
}

#playlist {
  position: relative;
  left: 0.7em;
  top: -2em;
}

.album-cover {
  width: 192px;
  height: 192px;
  border-radius: 12px;
}
.album-cover:hover {
  box-shadow: 3px 12px 24px -1px rgba(11, 13, 71, 0.51);
  -webkit-box-shadow: 3px 12px 24px -1px rgba(11, 13, 71, 0.51);
  -moz-box-shadow: 3px 12px 24px -1px rgba(11, 13, 71, 0.51);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #3a3a3a;
}

.album-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3a3a3a;
}

.album-title__artist {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #3a3a3a;
  opacity: 0.6;
}

#music-player {
  margin-top: 5em;
}

.playsong-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 0.8em 0.5em 0 0.5em;
}

.playsong-link:hover {
  color: #3a3a3a;
}

.playsong-link:focus {
  background-repeat: no-repeat;
  background-position: left center;
}

.playsong-link:active {
  background-repeat: no-repeat;
  background-position: left center;
}

input {
  padding: 0.5em 0em 0.5em 2.5em;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 200px;
  max-width: 17em;
  width: 100%;
}

#search-button {
  position: relative;
  right: 16.5em;
  background-color: transparent;
  border: none;
  vertical-align: middle;
  cursor: pointer;
}

.profile {
  vertical-align: middle;
}
.profile-img {
  width: 2em;
  height: 2em;
  border-radius: 20%;
}

.ol-playlist {
  margin-top: 6em;
  margin-left: -1.4em;
}

ol .playsong-li::marker {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ea1313;
  opacity: 0.4;
  margin-left: 2em;
}

.playsong-artist {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
}

.playsong-li {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1em 14em 11em 2em;
  grid-template-columns: 1em 14em 11em 2em;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  cursor: pointer;
}
.playsong-li:hover {
  background-color: #ffffff;
  border-radius: 6px;
}

.playsong-li:hover .playsong-link {
  color: #3a3a3a;
}

.playsong-li:hover .playsong-artist {
  color: #3a3a3a;
  opacity: 0.6;
}

.playsong-li:hover .playsong-duration {
  color: #3a3a3a;
  opacity: 0.6;
}

.playsong-duration {
  color: #ffffff;
  opacity: 0.6;
}

.waveform-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
  top: 6em;
  margin-left: auto;
  margin-right: auto;
  max-width: 37em;
  width: 100%;
}

.waveform-time {
  color: #ffffff;
  opacity: 0.6;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.album-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 400px;
  height: 4em;
}
.album-info__cover {
  margin-right: 1em;
  width: 4em;
  height: 4em;
  border-radius: 8px;
}

.album-text {
  height: 4em;
}
.album-text__song-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
.album-text__album-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.6;
}
.album-text__album-artist {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffcd06;
}

.fas {
  color: #ffcd06;
  position: relative;
  top: -0.9vw;
  left: 0.3vw;
}

.play-button {
  background: transparent;
  border: none;
}

#equalizer {
  display: none;
  position: relative;
  top: -1.1vmax;
  left: 0.3vw;
  width: 1em;
  height: 1em;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#equalizer .bar {
  width: 2px;
  height: 12px;
  margin: 0 1px;
  background-color: #ffcd06;
  -webkit-animation: equalizer 0.4s infinite;
          animation: equalizer 0.4s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#equalizer .bar:nth-child(2) {
  height: 7px;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
#equalizer .bar:nth-child(3) {
  height: 9px;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
#equalizer .bar:nth-child(3) {
  height: 3px;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

@-webkit-keyframes equalizer {
  from {
    height: 9px;
  }
  to {
    height: 18px;
  }
}

@keyframes equalizer {
  from {
    height: 9px;
  }
  to {
    height: 18px;
  }
}
.album-container {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}