* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.wrapper {
}
.container {
    display: flex;
  justify-content: space-between;
  align-items: center;
    max-width: 1360px;
    width: 100%;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.albums-container {
    background: #ffffff;
    border-radius: 22px;
    flex-basis: 75%;

    &-container-albums{
        display: grid;
    }
}

.header {
    &__navigation {
        display: flex;
        justify-content: space-between;
    }

    &__navigation-logo {
    }

    &__navigation-search {
    }
}

.album {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}
.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.progress-bar {
    width: 400px;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
    position: relative;
    margin: 20px;
}
.progress {
    height: 100%;
    width: 0%;
    background-color: blue;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
}
